$form_back_color: #5EA1F2;
$button_main_color: $form_back_color;
$button_hover_color:  #8bbbf7;
$button_active_color:  #406da3;
$button_disabled_color:  #86909c;

$select_border_color: #CACFD9;

$pie_back_color: #F3FAFF;